/************************************************************************/
// pagina de single-curso y single-seccion
/************************************************************************/
.single-curso,
.single-seccion {
	.site-header {
		display: none;
	}
	//barra superior del curso y de secciones
	.entry-header {
		margin-top: 0;
		width: 100%;
		background: white;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: nowrap;
		border-bottom: 1px solid $color__grisillo;

		a.back2cursos {
			padding: 5px;
			text-decoration: none;
			border: 2px solid $color__grisillo;
			@include radio(0 8px 0 8px);
			margin-right: 10px;
			background-color: $color__sutil;
			width: auto;
			flex-shrink: 0;
			color: $color__body-text;
			&:hover {
				color: $color__primario;
			}
		}
		.entry-title {
			font-size: 1.1em;
			padding: .5em 1em .5em;
			//background: $color__azul;
			margin-top: 0;
			width: 100%;

			span {
				display: block;
				font-size: .5em;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
			@media screen and (min-width: $break__small) {
				font-size: 1.25em;
				padding: .5em 1em .75em;
			}
		}
	}
	.site-main {
		margin: 0;

		.curso_sidebar {
			background-color: white;
			border-right: 1px solid $color__grisillo;
			max-width: 100%;
			display: block;
			margin: 0;
			padding: 0;

			.submenu {
				font-size: 1em;
				letter-spacing: .5px;
				line-height: 1.25;
				h4 {
					display: none;
					text-align: left;
					margin: 0;
					padding: 20px;
					border-bottom: 1px solid $color__grisillo;
				}
				//submenu de curso
				ul {
					list-style: none;
					margin: 0;
					max-width: 90%;
					padding: 0;

					li {
						position: relative;
						text-align: left;
						a {
							color: gray;
							border: none;
							display: block;
							padding: 12px 20px 12px 40px;
							border-bottom: 1px solid $color__grisillo;
							margin: 0;
						}
						&:last-child {
							//margin: 7.5px 0 0;
						}
						&:before {
							font-family: 'Fontawesome';
							content: "\f15c";
							display: inline-block;
							font-size: 1em;
							top: calc(50% - 0.5em);
							left: 1em;
							position: absolute;
							color: gray;
							line-height: 1;
						}

					}

					li.current-item {
						a {
							background: $color__sutil;
						}
						&:before {
							color: $color__primario;
						}
					}
				}


			}//aqui termina el submenu

			@media screen and (min-width: $break__medium) { //.sidebar

				margin: 0 0 20px; //importante
				margin: 0;
				padding: 0;
				nav {
					position: sticky;
					position: -webkit-sticky;
					top: 0; /* required */
					overflow: visible;

				}
				.submenu {
					overflow: visible;
					ul {
						width: 100%;
						max-width: 100%;
					}
					h4 {
						display: block;
					}
				}
			}
		} //aqui termina el sidebar

		.curso,
		.seccion {
			width: 100%;
			margin-bottom: 20px;
			.seccion-header {
				border-bottom: 2px solid $color__primario;
				padding-bottom: 10px;
				margin-bottom: 10px;
			}
			.entry-title {
				margin: 0;
			}

		}

		@media screen and (min-width:$break__medium) {
			display: flex;
			align-items: stretch!important;
			min-height: 740px;
			.curso_sidebar {
				width: 25%;
				margin-bottom: 20px;
				flex-shrink: 0;
			}
			.curso,
			.seccion {
				background: white;
				width: 75%;
			}
		}
	}

	.content-area {
		width: 100%!important;
		.site-main {
			margin: 0;


			.entry-content {
				margin: 0;
			}

			.portada__wrap {
				display: block;
				margin: 0 -20px 2em;
				border: 1px solid $color__sutil;
				box-shadow: 0 0 5px hsl(0, 0, 80);
				@include radio(4px);
				overflow: hidden;

				.portada-curso {
					width: 100%;
					height: 300px;
					margin: 0 auto;
					overflow: hidden;
					position: relative;
					display: block;

					&.sin-portada {
						background: url(img/vectorstock_21677389.png) no-repeat 50% $color__moradito;
						background-size: 33%;
					}

					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}

					span {
						font-size: .6em;
						font-weight: 600;
						background: $color__dark;
						color: $color__sutil;
						position: absolute;
						bottom: 0; right: 0;
						opacity: .8;
					}

				}
				.curso__info {
					width: auto;
					line-height: 1.4;
					font-size: .9em;

					.curso__info-inside {
						padding: 20px;
						width: auto;

					}

					.curso_codigo {
						font-size: .8em;
						color: $color__body-text;
					}

					ul {
						list-style: none;
						margin: 0;

						li {
							margin-bottom: .25em;
						}

						&.lista-areas {
							margin-bottom: 1em;
						}
					}
					
				}
				.curso_info {
					font-size: .9em;
				}

				//portada__wrap
				@media screen and (min-width: $break__small) {
					min-height: 400px;
					display: flex;
					align-items: stretch;

					.portada-curso {
						width: 50%;
						margin: 0;
						height: auto;
						align-self: stretch;
						background-color: $color__moradito;
					}
					.curso__info {
						width:50%;
					}
				}
			}

		}
	}
}
.migajas {
	font-size: .7em;
	font-weight: 200;
	//margin-top: -10px;
	margin-bottom: 20px;
	color: #aaa;
	letter-spacing: 1px;
	a {
		color: #bbb;
		border: none;
		&:hover {
			color: $color__primario;
			border-bottom: 1px solid $color__primario;
		}
	}
}
//paginacion de la seccion
.page-links {
	margin-top: 2.5em;
	display: block;
	height: auto;
	clear: both;

}

//licencia cc
.seccion .licencia-block {
	padding: 1em 1em 2em;
	margin: 40px 0 0;
	display: block;
	background: #eee;
	font-size: .8em;
	@include radio(5px);
	h4 {
		margin: 0 0 .5em;
	}
	p{
		margin: 0;
	}
	img {
		margin: 0 1em 1em 0;
		height: 32px;
	}
}


//footnotes
.simple-footnotes {
	font-size: .77em;
	color: #aaa;
}
.simple-footnotes .notes{
	display: none;
}
.simple-footnotes a {
	border: none;
}
a.simple-footnote {
	border: none;
}
