/************************************************************************/
// http://type-scale.com/?size=17&scale=1.333&text=A%20Visual%20Type%20Scale&webfont=&font-family=%27Helvetica%27%2C%20serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=%23333
/************************************************************************/
//@import url('https://fonts.googleapis.com/css?family=Varela+Round');

// html {font-size: 1.063em;}



small, .font_small {font-size: 0.8em;}


.site-main ol li{
	margin-bottom:1em;
}
blockquote cite {
	font-size: 0.8rem;
}
